body {
    font-family: Arial, sans-serif;
}

.slideshow-container {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.haiku-slide {
    display: none;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}